{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Add note</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
</head>


<body>
    <section class="note_creation">
        <form method="POST">
            {% csrf_token %}
            <h1>Create note</h1>
            {{form.title}}
            {{form.description}}
            <button type="submit">Save</button>
            <button><a href="checknotes">Check notes</a>
                <a href="main">Main page</a></button>
        </form>
        
    </section>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>